body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #EEEEEE;
}

/* header section */
header {
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    background-color: #4ECCA3;
    align-items: center;
    
}

header svg {
    width: 22px;
}

.add-btn {    
    width: 90px;
    position: fixed;
    bottom: 80px;
    right: 80px;
    cursor: pointer;
}

.login-btn {
    background-color: #232931;
    text-align: center;
    padding: 8px 36px;
    border: none;
    cursor: pointer;
    color: #EEEEEE;
}

/* footer section */
footer {
    text-align: center;
    padding: 12px 0;
    color: #232931;
}

/* main section styles */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 33px;
}

main>div {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    background-color: #EEEEEE;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.book-status, .book-remove {
    border: none;
    cursor: pointer;
    padding: 11px 30px;
}

.book-status {
    background-color: #4ECCA3;
    color: white;
}


.book-remove {
    background-color: #F85F73;
    color: white;
}

.card-header {
    background-color: #393E46;
    padding: 0 17px;
    color: white;
}

/* form overlay */
.form-overlay>form {
    background-color: #232931;
    color: #EEEEEE;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 440px;
    padding: 20px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 1000;
}




